DEBUG=true
ALLOWED_HOSTS=127.0.0.1,localhost

# Set one DB flag true as needed. If both false, SQLite is used.
USE_POSTGRES=false
POSTGRES_NAME=mutualfund_platform
POSTGRES_USER=postgres
POSTGRES_PASSWORD=@Samridhi2007
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

USE_MYSQL=false
MYSQL_NAME=djangoproject
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_HOST=localhost
MYSQL_PORT=3306

